<!-- app/views/services/digital_marketing.html.erb -->
<% content_for :title, "Marketing Digital | Gymon" %>


<h1 class="text-center mb-4">Marketing Digital</h1>
<p class="text-center mb-5">Creamos estrategias de marketing para aumentar tu presencia en línea.</p>


<!-- Sección de beneficios -->
<div class="container">
  <h2 class="text-center mb-4">Beneficios de nuestro marketing digital</h2>
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Aumenta tu alcance en redes sociales</h5>
          <p class="card-text">Creamos contenido atractivo para redes sociales.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mejora tu posicionamiento en buscadores</h5>
          <p class="card-text">Optimizamos tu sitio web para motores de búsqueda.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Incrementa tus ventas en línea</h5>
          <p class="card-text">Creamos campañas publicitarias efectivas.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Sección de servicios -->
<h2 class="text-center mb-4">Servicios de marketing digital</h2>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Marketing en redes sociales</li>
  <li class="list-group-item">Publicidad en línea</li>
  <li class="list-group-item">Email marketing</li>
  <li class="list-group-item">Contenido de marketing</li>
  <li class="list-group-item">Análisis y seguimiento de resultados</li>
</ul>

<!-- Sección de tecnologías -->
<h2 class="text-center mb-4">Herramientas que utilizamos</h2>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Google Analytics</li>
  <li class="list-group-item">Facebook Ads</li>
  <li class="list-group-item">Instagram Ads</li>
  <li class="list-group-item">Twitter Ads</li>
  <li class="list-group-item">Mailchimp</li>
</ul>


<!-- Llamado a la acción -->
<div class="text-center mt-5">
  <%= link_to "Contactanos para obtener más información", contact_path, class: "btn btn-primary" %>
</div>
