<!-- Sección Portafolio -->
<div class="container">
  <h2 class="text-center mb-4">Nuestros proyectos</h2>

  <!-- Galería de imágenes -->
  <div class="row">
    <div class="col-lg-4 mb-4">
      <img src="proyecto1.jpg" class="img-fluid" alt="Proyecto 1">
      <h5>Proyecto 1</h5>
      <p>Descripción breve del proyecto.</p>
      <a href="https://proyecto1.com" target="_blank" class="btn btn-primary">Ver en línea</a>
    </div>

    <div class="col-lg-4 mb-4">
      <img src="proyecto2.jpg" class="img-fluid" alt="Proyecto 2">
      <h5>Proyecto 2</h5>
      <p>Descripción breve del proyecto.</p>
      <a href="https://proyecto2.com" target="_blank" class="btn btn-primary">Ver en línea</a>
    </div>

    <div class="col-lg-4 mb-4">
      <img src="proyecto3.jpg" class="img-fluid" alt="Proyecto 3">
      <h5>Proyecto 3</h5>
      <p>Descripción breve del proyecto.</p>
      <a href="https://proyecto3.com" target="_blank" class="btn btn-primary">Ver en línea</a>
    </div>
  </div>

  <!-- Más proyectos -->
  <div class="text-center">
    <a href="#" class="btn btn-secondary">Ver más proyectos</a>
  </div>
</div>
